<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregnancy Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #c395d7;
        }

        .introduction {
            color: rgb(0, 0, 0);
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 15px;
            font-family: monospace;
        }


        .text-center {
            margin-top: 5px;
        }


        .navbar {
            font-family: monospace;
        }


        .navbar-brand {
            background-color: rgb(50, 37, 62);
            padding: 10px;
            color: rgb(255, 255, 255);
        }


        .col1 {
            width: 618px;
            height: auto;
        }

        .img-fluid {
            height: 320px;
            width: 370px;
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Glowing Journey</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pregnancy-tracker">Pregnancy Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nutrition">Nutrition</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-5">
            <img src="https://assets.babycenter.com/ims/2018/06/pregnancy-week-13-fingerprints_square.png"
                class="img-fluid" alt="embyro">
        </div>
        <div class="col-5">
            <img src="https://www.verywellhealth.com/thmb/Xxy8JGQKUz8ckSzauvBEzOEJoj8=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1288913695-230c3b035bce4442b29e1598a492022d.jpg"
                class="img-fluid" alt="Responsive image">
        </div>
    </div>


    <div class="introduction">
        <p>Even with the advancement of technology, it is challenging to find a website that provides a calendar that
            allows women to track their doctor appointments, learn about the baby depending the week and pregnancy
            symptoms. According to BlueCross Blue Shield, 16% of women have complications in their pregnancy. Of the
            16%, 14% did not get prenatal care in their first trimester. One third of the 16% also received less than
            the recommend number of prenatal visits; a quarter of the women had complications during childbirth. With an
            easy way to track doctors appointment, how their baby should be growing, and ways to monitor how your body
            should react to pregnancy they can have a safer pregnancy. </p>
    </div>


    <div class="row justify-content-center">
        <div class="col-5">
            <img src="https://www.bcbs.com/sites/default/files/uploads/inline-images/HOA_Maternal_Health_exhibit2a.png"
                class="img-fluid" alt="graph 1, complications">
        </div>
        <div class="col-5">
            <img src="https://salud-america.org/wp-content/uploads/2022/10/mortality-world.png" class="img-fluid"
                alt="graph 2, death">
        </div>
    </div>



</body>

</html>