<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition and Exercise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            font-family: monospace;
            line-height: 1.6;
            font-size: 18px;
            margin: 30px;
            background-color: rgb(195, 149, 215);

        }

        h1 {
            color: black;
            text-align: center;
            font-weight: 700px;
        }

        h2 {
            color: white;
            margin-top: 20px;
        }

        p {
            color: #333;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Growing Journey</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calendar">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pregnancy-tracker">Pregnancy Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nutrition">Nutrition</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Recommended Nutrition and Exercise</h1>

    <h2>Follow a Healthy Eating Routine:</h2>
    <p>Include whole fruits, veggies, whole grains, proteins, low-fat or fat-free dairy, and oils.
        Get the right amount of calories:</p>

    <ul>
        <li>First trimester: No extra calories</li>
        <li>Second trimester: About 340 extra calories/day</li>
        <li>Last trimester: About 450 extra calories/day</li>
    </ul>

    <p>Consult with a healthcare professional for personalized advice.
        Make healthy snack choices:</p>

    <ul>
        <li>Opt for low-fat or fat-free yogurt with fruit, whole-grain crackers with peanut butter, or carrots with
            hummus.</li>
        <li>For nausea, consider dry toast, dry cereal, or saltines.</li>
    </ul>

    <p>Take a prenatal supplement daily:</p>

    <ul>
        <li>Ensure intake of folic acid, iron, iodine, and choline.</li>
        <li>Choose seafood with healthy fats but low mercury content.</li>
    </ul>

    <h2>Avoid Certain Foods</h2>
    <p>Stay away from raw or rare fish, meats, eggs, unpasteurized products, deli meats, and certain salads.
        Limit caffeine and added sugars:</p>

    <ul>
        <li>Choose plain water over sugary drinks.</li>
        <li>Consult with a doctor regarding caffeine safety.</li>
        <li>Avoid alcohol: No amount of alcohol is safe during pregnancy or when trying to conceive.</li>
    </ul>

    <h2>Exercise and Pregnancy Risks:</h2>
    <p>Exercise won’t increase the risk of miscarriage, premature birth, or low birthweight.
        Healthy pregnant women should aim for at least 2½ hours of moderate-intensity aerobic activity each week.
    </p>

    <h2>Benefits of Exercise During Pregnancy:</h2>
    <p>Keeps mind and body healthy, providing extra energy.
        Supports appropriate weight gain during pregnancy.
        Eases common discomforts like constipation, back pain, and swelling.
        Manages stress, improves sleep.
        Reduces the risk of complications like gestational diabetes and preeclampsia.
        Lowers the risk of cesarean birth.
        Prepares the body for labor and birth.
    </p>

    <h2>Safe Activities During Pregnancy:</h2>
    <p>Walking, swimming, water workouts.
        Stationary biking.
        Yoga and Pilates classes with modifications.
        Low-impact aerobics.
        Strength training with light weights.
        No need for a gym; activities like walking or home exercise videos suffice.
    </p>

    <h2>Exercise Safety Concerns:</h2>
    <p>Some conditions may make exercise unsafe during pregnancy.
        Consult with a health care provider if experiencing preterm labor, multiple pregnancies, cervical issues,
        gestational hypertension, placenta previa, severe anemia, or specific heart or lung conditions.
    </p>

    <h2>Unsafe Activities During Pregnancy:</h2>
    <p>Activities with jerky, bouncing movements.
        Sports with a risk of belly impact.
        Exercises lying flat on the back after the third month.
        Activities causing forceful water impact.
        Skydiving, scuba diving.
        High-altitude exercise (above 6,000 feet).
        Activities elevating body temperature significantly.
    </p>

    <h2>Changes in Body Response to Exercise During Pregnancy:</h2>
    <p>Balance may be affected.
        Slightly higher body temperature.
        Increased need for oxygen, affecting breathing.
        Energy levels may decrease.
        Elevated heart rate during exercise.
        Hormonal changes affecting joint flexibility.
    </p>

    <h2>When to Stop Exercising and Warning Signs:</h2>
    <p>Pay attention to signs like bleeding, chest pain, dizziness, headache, muscle weakness, contractions, or
        decreased fetal movement.
        Stop activity and consult with a provider if experiencing any warning signs.
    </p>

    <h2>Resuming Exercise After Birth:</h2>
    <p>Consult with a health provider to determine when it's safe to resume exercise.
        Typically, if no complications, women can start a few days after a vaginal birth or as soon as ready.
        Longer waiting period may be required after a c-section or birth complications.
    </p>

</body>

</html>